%% -*- mode: erlang -*-
{require_otp_vsn, ".*"}.
{deps, [
        {cowboy, ".*", {git, "git://github.com/extend/cowboy.git"}},
        {jsonerl, ".*", {git, "git://github.com/lambder/jsonerl.git"}}
]}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors]}.

%{eunit_opts, [verbose]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
